html
    head 
        title= 'Data Collection Parameters'
        style
            include style.css
    body 
        h1= 'Data Collection Parameters'
        table#myTable 
            tr
                th(onclick="sortTable(0)") Date
                th(onclick="sortTable(1)") Project Name
                th(onclick="sortTable(2)") Collected by

            for data_para in data_para_list
                tr
                    td
                        a(href='/data_para/'+data_para.date) #{data_para.date}
                    td= data_para.name
                    td= data_para.collected_by
    
        button(onclick="location.href='/add_data/'" type="button") Add

    style. 
        table {
            border-spacing: 0;
            width: 70%;
            border: 1px solid #ddd;
        }
        th {
            cursor: pointer;
        }
        th, td {
            text-align: left;
            padding: 16px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2
        }

    script. 
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount =0;
            table = document.getElementById("myTable");
            switching = true;
            dir = "asc";

            while (switching){
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch= true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount ++;    
                } else{
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
