html
    head
        title grid detail
    body
        h3="Project: " + gridPara.name
        br
        p
            | =======================BIOCHEM==================================
        - if (biochem === undefined) {
            form(action="/:name/grid_detail/:id" method="POST")
                button(type="submit" name="kind" value="biochem") Edit Biochem
            table
                - var key = Object.keys(gridPara);
                - for (var i = 2; i < 6; i ++){
                    tr
                        th=key[i]
                        td=gridPara[key[i]]
                - }
            br

            p
                | Gel Filtration
            p
                | Protein Electrophoresis
        - } else if (biochem){
            form(action="/:name/grid_detail/:id/biochem" method="POST")
                label(for="test")
                input(type="text")
            form(action="/:name/grid_detail/:id" enctype="multipart/form-data" method="POST")
                span Upload Profile Picture of Gel Filtration: 
                input#upload_images(type="file" name="mypic" required="")
                br
                input(type="submit" value="submit")
            form(action="/:name/grid_detail/:id" enctype="multipart/form-data" method="POST")
                span Upload Profile Picture of Protein Electrophoresis: 
                input#upload_images(type="file" name="mypic" required="")
                br
                input(type="submit" value="submit")

        - }
        p
            | =======================SAMPLE MAKING============================
        form(action="/:name/grid_detail/:id" method="POST")
            button(type="submit" name="kind" value= "sample_making") Edit Sample Making
        table
            - for (var i = 6; i < 11; i ++){
                tr
                    th=key[i]
                    td=gridPara[key[i]]
            - }
        br